BR2_arm=y
BR2_arm926t=y
BR2_WGET="wget --passive-ftp -nd"
BR2_GIT="git clone"
BR2_SOURCEFORGE_MIRROR="easynews"
BR2_JLEVEL=64
BR2_STRIP_sstrip=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH=""
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="arm-sdc-linux-gnueabi"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_ENABLE_LOCALE_PURGE=y
BR2_ENABLE_LOCALE_WHITELIST="en_US"
BR2_TARGET_GENERIC_HOSTNAME="summit"
BR2_TARGET_GENERIC_ISSUE="Summit Data Communications"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_UDEV=y
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/../scripts/finalize.sh"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_MTD=y
# BR2_PACKAGE_MTD_FLASHCP is not set
# BR2_PACKAGE_MTD_FLASH_INFO is not set
# BR2_PACKAGE_MTD_FLASH_LOCK is not set
# BR2_PACKAGE_MTD_FLASH_UNLOCK is not set
# BR2_PACKAGE_MTD_MTD_DEBUG is not set
# BR2_PACKAGE_MTD_NANDDUMP is not set
# BR2_PACKAGE_MTD_NANDTEST is not set
BR2_PACKAGE_SETSERIAL=y
BR2_PACKAGE_UBOOT_TOOLS=y
BR2_PACKAGE_LIBGCRYPT=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_OPENSSL_BIN=y
BR2_PACKAGE_LIBUSB=y
BR2_PACKAGE_EXPAT=y
BR2_PACKAGE_BRIDGE_UTILS=y
BR2_PACKAGE_CRDA=y
BR2_PACKAGE_DHCP=y
BR2_PACKAGE_EBTABLES=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_IPTABLES=y
BR2_PACKAGE_IW=y
BR2_PACKAGE_PPPD=y
BR2_PACKAGE_PROFTPD=y
BR2_PACKAGE_REGULATORY=y
BR2_PACKAGE_LOGROTATE=y
BR2_PACKAGE_KMOD_TOOLS=y
BR2_TARGET_ROOTFS_UBIFS=y
BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x3e00
BR2_TARGET_ROOTFS_UBIFS_MINIOSIZE=0x200
BR2_TARGET_ROOTFS_UBIFS_MAXLEBCNT=1888
BR2_TARGET_ROOTFS_UBI=y
BR2_TARGET_ROOTFS_UBI_PEBSIZE=0x4000
BR2_TARGET_ROOTFS_UBI_SUBSIZE=256
BR2_TARGET_ROOTFS_TAR_BZIP2=y
BR2_SDC_PLATFORM_WB40N=y
BR2_PACKAGE_LIBEDIT=y
BR2_PACKAGE_SDCSDK=y
BR2_PACKAGE_SDCCLI=y
BR2_PACKAGE_SDCSUPP=y
BR2_PACKAGE_DHD=y
