.repo

# /
/unpack.stamp
/*_config

# /archive/
/archive/*

# /buildroot/
/buildroot

*.mk
/images/*/
/images/*.mk
!/images/Makefile
!/images/msd45n
!/images/msd45n-x86
!/images/msd45n_fips
!/images/wb45n
!/images/wb45n_devel
!/images/msd50n
!/images/wb50n
!/images/wb50n_devel
!/images/wb50n_rdvk
!/images/wb50n_rdvk_devel
!/images/reg45n
!/images/reg50n
!/images/mfg60n

# /images/msd45n/
/images/msd45n/20??????

# /images/msd45n_fips/
/images/msd45n_fips/20??????

# /images/msd45n-x86/
/images/msd45n-x86/20??????

# /images/msd50n/
/images/msd50n/20??????

# /images/wb45n/
/images/wb45n/20??????
/images/wb45n/fw.txt
/images/wb45n/legal-info

# /images/wb45n_devel
/images/wb45n_devel/20??????
/images/wb45n_devel/fw.txt

# /images/wb50n/
/images/wb50n/20??????
/images/wb50n/fw.txt
/images/wb50n/legal-info

# /images/wb50n_devel
/images/wb50n_devel/20??????
/images/wb50n_devel/fw.txt

# /images/wb50n_rdvk
/images/wb50n_rdvk/20??????
/images/wb50n_rdvk/fw.txt

# /images/wb50n_rdvk_devel
/images/wb50n_rdvk_devel/20??????
/images/wb50n_rdvk_devel/fw.txt

# /images/reg45n
/images/reg45n/20??????

# /images/reg50n
/images/reg50n/20??????

# /images/mfg60n
/images/mfg60n/20??????

/images/*/latest

/examples/eventmon
/examples/sdk_wf_pil

.*.swp
*~

!backports.mk
/backports
